@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    scroll-snap-align: start;
    scroll-snap-stop: always;
   /* scroll-behavior: smooth;*/
}

body{
    line-height: 1.5;
    font-family:'Poppins', sans-serif;
    background: black;
    padding-left: 10%;
    padding-right: 10%;
}


          /*Nav bar section*/
.nav{
    padding: 0vw;
    margin: 0vw;
    overflow-x: hidden;
    text-align: center;
}
.header{
    padding: 1.5vw;
    box-shadow: 0 0 3px #000;
    font-size: 1.5vw;
    

}

.header li{
    display: inline;
    padding-left: 1.7vw;
    
    
}

.header li a{
    text-decoration: none;
    padding: 0.5vw;
    transition: 0.5s ease;
    color: #ffffff;
    font-size: 1.5vw;
}

.header li a:hover{
    color: yellow;
}

.header ul #get a{
    color: #ffffff;
    font-size: 1.3vw;
    background-color: #ed661f;
    border-radius: 1vw;
    float: right;
    top: -1.1vw;
    

}
.header ul #get a:hover{
    background-color: #3a27e4;
}

.header ul #plus a{
    float: left;
    font-size: 2.3vw;
    font-family: 'Inter', sans-serif;
    top: -0.8vw;
    border-radius: 1.7vw;
    font-weight: 700;
}

.header ul #plus a:hover{
    background-color: #3a27e4;
}

.header .active{
    
    position: relative;
}

.header .active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.2vw;
    background-color: #ed661f;
    height: 0.2vw;
    box-sizing: border-box;
    width: 3.9vw;
}



    /*text-over-picture section*/
.quality{
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    

}


.buy{
    position: absolute;
    top: 15%;
    width: 50%;
    height: 10%;
    font-size: 2.2vw;
    margin: 1%;
    display: flex;
    justify-content: flex-start;
}
.sell{
    position: absolute;
    top: 45%;
    width: 50%;
    margin: 1%;
    font-size: 1.7vw;
    display: flex;
    flex-wrap: wrap;
}
.buy h4{
    font-size: 2.2vw;
}

.btn1{
    position: absolute;
    top: 75%;
    width: 14%;
    height:10%;
    font-size: 1.6vw;
    margin: 1%;
    background-color: #ed661f;
    color: #ffffff;
    border: none;
}

.ground1{
    background-color: #ffffff;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}
.ground2{
    width: 50%;
    position: absolute;
    top: 15%;
    right: 20px;
    
}

.clients{
    background: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vw;
    width: 63%;
    margin-left: 25%;
    box-shadow: 0vw 0.5vw 1vw grey;
    top: 79%;
    
    
    
}
.extra{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 20vw;  
}

.midd1{
    font-size: 1.1vw;
}
.middp{
    font-size: 1.2vw;
}

.clients ul li a{
    text-decoration: none;
    padding: 0vw;
    margin: 0%;

}




    /*Why we exist*/
.exist{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 2.3vw;
    margin-bottom: -1.2vw;
    
}
.exist img{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.8vw;
    
}
.text h3, p{
    font-size: 1.5vw;
}
.explore .btn{
    width: 20vw;
    height: 1.8vw;
    font-size: 1.7vw;

}


/*categories section*/

.products{
    background-color: #ffffff;
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}
.head h2{
    font-size: 1.9vw;
}

.mine{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1.0vw;
    position: relative;
}

.mine::before{
    content: '';
    position: absolute;
    bottom: -0.1vw;
    background-color: #ed661f;
    height: 0.2vw;
    box-sizing: border-box;
    width: 6vw;
}

#border{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1.0vw;
    

}
.porpular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.0vw 0vw;
    
}
.imag p, h4{
    font-size: 1.3vw;
}
.cash{
    font-size: 1.3vw;
}

.imag img{
    width: 12vw;
    height: 12vw;
}
.porpular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space space-between;
}

.porpular p{
    width: 10vw;
}

.newest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.0vw 0vw;
}

.newest p{
    width: 10vw;
}


       /*Customer feedback*/
.customers{
    letter-spacing: 0.1vw;
    margin: 0vw 0vw;
    padding: 0vw 1.5vw;
    font-weight: 500;
    font-size: 1.8vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.feedback_cont{
    box-sizing: border-box;
}


.feedback{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    margin-bottom: 1.9vw;
    background-color: #ffffff;
    
}

.feedback .box1{
    box-shadow: 0.5vw 0.5vw 1.9vw rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 1.9vw;
    margin: 1.5vw;
    height: 30vw;
    cursor: pointer;
    width: 100%;
    line-height: normal;
    
}

.profile img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8vw;
    width: 10vw;
    height: 10vw;
}

.reviews{
    color: #ed661f;

}

.feedback .box1:hover{
    transform: translateY(-7px);
    transition: all ease 0.3s;

}

@media(max-width:1060px){
    .feedback .box1{
        width: 45%;
        padding: 10px;
    }
}
.more .btn{
    float: right;
    margin: 1vw;
    padding: 0vw;
    background-color: #ffffff;
    color: black;
    font-size: 1.4vw;
    position: relative;
    
}

.more img{
    width: 3vw;
    height: 2vw;
}
.more .btn:hover{
    color: #ed661f;
    background-color: #ffffff;
}

.more .btn::before{
    content: '';
    position: absolute;
    left: 0vw;
    bottom: -0.5vw;
    background-color: #ed661f;
    height: 0.3vw;
    box-sizing: border-box;
    width: 2.9vw;
} 

.messo p{
    width: 8vw;
    font-size: 1.3vw;
}
.name{
    font-size: 1.5vw;
}
.messo img{
    width: 0vw;
    height: 0vw;
}



/*Footer 1*/
.footer1{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding-top: 5%;
    

}
.footer1 h4{
    font-size: 1.7vw;
}

.footer1 p{
    max-width: 600px;
    margin: 20px auto;
    font-size: 15px;
    font-weight: 300;
}

.email{
    height: 40px;
    display: flex;
    justify-content: center;

}

.ebox, .btn{
    border: none;
    outline: none;
}

.email i{
    background: #24262b;
    width: 40px;
    line-height: 40px;
}

.ebox{
    width: 270px;
    padding: 0 10px;
    
}
.btn{
    background: #ed661f;
    color: #ffffff;
}

.email a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ed661f;
    transition: all 0.5s ease;
}
.email a:hover{
    color: #3a27e4;
    background-color: #ffffff;
}
.subscribe h4, p{
    font-size: 1.4vw;
}

/*Footer*/
.footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    
}

ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer_container{
   
    margin: auto;
    max-width: 1150px;
}

.cont2{
    width: 20%;
    padding: 0 17px;
}

.cont2 h4{
    font-size: 1.4vw;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    right: -40px;
    
}

.cont2 h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    background-color: #ed661f;
    height: 0.2vw;
    box-sizing: border-box;
    width: 3.9vw;
}

.cont2 ul li:not(:first-child){
    margin-bottom: 10px;

}

.cont2 ul li a{
    font-size: 1.5vw;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.5s ease;

}

.cont2 ul li a:hover{
    color: #ffffff;
    padding-left: 7px;
}

.cont2 .icon a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.cont2 .icon a:hover{
    color: #24262b;
    background-color: #ffffff;
}


@media(max-width: 640px){
    .cont2{
        margin-bottom: 30px;
        width: 50%;
    }
}

.cont2 #agri{
    right: 0px;
}

.cont2 p{
    color: #ffffff;
}

.play img{
    width: 60%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.last {
    color: #ffffff;
    text-align: center;
    font-size: 1.5vw;
    
}

h3{
    position: relative;
    font-size: 1.7vw;
}

h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3vw;
    background-color: #ed661f;
    height: .2vw;
    box-sizing: border-box;
    width: 3.9vw;
}